/* Generic Styles */
*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style: none;
}

body {
  background-color: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}